# Dependencies
node_modules
.pnpm-store

# Production build output
dist
dist-ssr
*.local

# Environment & IDE
.env
.env.local
.env.*.local
.vscode
.idea
*.suo
*.user
*.userossc font

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System files
.DS_Store
Thumbs.db
